Cython
numpy
matplotlib
Pillow
h5py
redis>=2.7.6
colorama>=0.2.5
poster>=0.8.1
CherryPy>=3.2.4
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
requests==2.5.1
simplejson==3.6.5
six==1.9.0
socketIO-client==0.4
argparse==1.2.1
pyzmq
tornado
ipython
prettytable