bin
.metadata
*~
target/
.DS_Store

# latex temp files
*.aux
*.bbl
*.brf
*.blg
*.log
*.synctex.gz
*.dvi
*.out

# svn folders
.svn/

# python bytecode
*.pyc

# main pdf file generated
main.pdf
review_version/main.pdf

# config files
pcloudcv/config.json
config.cfg
docs/conf.py
docs/Makefile
docs/make.bat
pcloudcv/cloudcv.db
#redis db dump
dump.rdb